@font-face {
  font-family: 'Rubik';
  src: url('./assets/fonts/Rubik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RubikBold';
  src: url('./assets/fonts/Rubik-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: bold;
}

* {
  font-family: 'Rubik';
}
